Package: com.flowgaming.ownershipalert
Name: Ownership Alert
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Displays an alert when trying to power down containing contact info
Maintainer: Psaidwid
Author: Psaidwid
Section: Tweaks
Version: 1.2.3
